@import './react-dropdown';

.CreationForm {
    font-size: 14px;

    td {
        vertical-align: middle;
    }

    .name {
        padding-right: 1rem;
    }

    .ReactDropdown {
        padding-right: 3em;
        @include Dropdown();
    }
}