$Dropdown-vertical-padding: 8px;
$Dropdown-horizontal-padding: 16px;
$Dropdown-arrow-width: 12px;
$Dropdown-arrow-height: 6px;
$Dropdown-border: 1px solid #999;
$Dropdown-color-bg: rgba(0,0,0,0.1);
$Dropdown-color-option-select: #f2f9fc;
$Dropdown-color-text: #333;

@mixin Dropdown () {
  .Dropdown-root {
    position: relative;
  }

  .Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: $Dropdown-color-bg;
    border: $Dropdown-border;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: $Dropdown-vertical-padding 52px $Dropdown-vertical-padding $Dropdown-horizontal-padding;
    transition: all 200ms ease;
  }

  .Dropdown-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  }

  $arrow-side-padding: $Dropdown-arrow-width / 2;

  .Dropdown-arrow {
    border-color: $Dropdown-color-text transparent transparent;
    border-style: solid;
    border-width: (
      $Dropdown-arrow-height
      $arrow-side-padding
      0
      $arrow-side-padding
    );
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: $Dropdown-horizontal-padding;
    top: 50%;
    margin-top: - $Dropdown-arrow-height * 0.75;
    width: 0
  }

  .is-open .Dropdown-arrow {
    border-color: transparent transparent $Dropdown-color-text;
    border-width: (
      0
      $arrow-side-padding
      $Dropdown-arrow-height
      $arrow-side-padding
    );
  }

  .Dropdown-menu {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
  }

  .Dropdown-menu .Dropdown-group > .Dropdown-title{
    padding: $Dropdown-vertical-padding $Dropdown-horizontal-padding;
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    text-transform: capitalize;
  }

  .Dropdown-option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    padding: $Dropdown-vertical-padding $Dropdown-horizontal-padding;
  }

  .Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .Dropdown-option:hover,
  .Dropdown-option.is-selected {
    background-color: $Dropdown-color-option-select;
    color: $Dropdown-color-text;
  }

  .Dropdown-noresults {
    box-sizing: border-box;
    color: #ccc;
    cursor: default;
    display: block;
    padding: $Dropdown-vertical-padding $Dropdown-horizontal-padding;
  }

}
