@import './react-dropdown';

.CreationForm {
    font-size: 14px;

    .dropdown {
        display: inline-block;
        float: left;
        width: 100%;
        margin-bottom: 40px;

        &:nth-of-type(even) {
            float: right;
        }
    }

    .name {
        padding-bottom: 4px;
    }

    .ReactDropdown {
        @include Dropdown();
    }
}