.ExerciseItemDetail {
    table {
        width: 100%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    tr {
        background-color: rgba(255, 255, 255, 0.5);
    }

    tr:nth-of-type(even) {
        background-color: rgba(150, 150, 150, 0.5);
    }

    td {
        padding: 0.25em 2em;
    }

    td:first-of-type {
        border-right: 1px solid rgba(255,255,255,0.4);
    }

}