@import url(https://fonts.googleapis.com/css?family=Oxygen+Mono&subset=latin,latin-ext);

@import '_settings';
@import 'foundation';
@include foundation-global-styles;
@include foundation-grid;

body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #fefefe;
    color: #222;
    font-family: 'Oxygen Mono', monospace;
    background-size: cover;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

br {
    display: block;
    margin: 1rem 0;
    height: 1px;
    border: none;
    background-color: #444;
}

.modal {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.5);
}