@import url(https://fonts.googleapis.com/css?family=Oxygen+Mono&subset=latin,latin-ext);

@import './foundation-includes';
@import './colors';
@import './vars';

body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #fefefe;
    color: #111;
    background-size: cover;
}

body, h1, h2, h3 {
    font-weight: 400;
    font-family: 'Oxygen Mono', monospace;
}

body a, body a:visited, body a:hover, body a:active {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 22px;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

br {
    display: block;
    margin: 1rem 0;
    height: 1px;
    border: none;
    background-color: #444;
}

hr {
    border-color: rgba(0,0,0,0.5);
}

h1 {
    margin: 0;
}

%text-white {
    color: #fff;
}

.header-title {
    font-size: 20px;
    @extend %text-white;
}

.modal {
    background: $modal-bg;
    border-radius: 3px;
    box-shadow: 0 0 8px 1px $shadow;
    width: $page-width;
}

.header {
    background-color: $sea-green;
    box-shadow: 0 0 8px 1px rgba(100, 100, 100, 0.5);
    padding: 8px 0;
    @extend %text-white;

    .row {
        width: $page-width;
    }

    .wr-ico {
        @extend %text-white;
    }

    .right-links {
        float: right;
        font-size: 14px;
        margin-top: 5px;

        > * {
            margin-left: 20px;
        }
    }

    a {
        color: white;
    }

    a:hover {
        text-decoration: underline;
    }
}
