$correct-bg: rgba(68, 157, 54, 0.3);
$incorrect-bg: rgba(171, 32, 15, 0.3);
$placeholder-bg: rgba(255, 255, 255, 0.6);
$row-focused-bg: rgba(100, 100, 100, 0.4);

.VerbExercise {
    position: relative;
    line-height: 1.5em;
    background-color: transparent;
    float: left;
    clear: left;
    margin-bottom: 0.5em;
    cursor: pointer;

    &:hover {
        background-color: $row-focused-bg;
    }

    .Tooltip {
        right: initial;
        width: auto;
        max-width: 360px;
        margin-bottom: 12px;

        &::after {
            left: 35px;
            right: initial;
        }

        &.translation {
            left: 222px;
        }

        &.answer {
            left: 186px;
        }

    }

    .placeholder {
        background-color: $placeholder-bg;

        &.isCorrect {
            background-color: $correct-bg;
        }


        &.isIncorrect {
            background-color: $incorrect-bg;
        }
    }

    .wr-ico {
        font-size: 1.4em;
        padding: 0 4px;
        float: right;
        box-sizing: initial;
    }

    .VerbExercise-details {
        float: left;
        width: 106px;
    }

    .VerbExercise-sentence {
        margin-left: 120px;
    }
}

.VerbWord {
    position: relative;

    .VerbWord-input {
        background-color: transparent;
        box-shadow: none;
        border: none;
        outline: none;
        padding: 0;
        position: absolute;
        z-index: 2;
        line-height: 1.5em;
    }
}