@import 'colors';

$lh: 2.5;
$row-focused-bg: rgba(100, 100, 100, 0.4);
$row-correct-bg: rgba(152, 216, 104, 0.4);
$row-incorrect-bg: rgba(213,120,72, 0.4);
$placeholder-bg: rgba(255, 255, 255, 0.6);
$component-height: 320px;

$transition: 250ms ease-in;

%bg-transition {
    transition: background-color $transition;
}

%placeholder {
    @extend %bg-transition;
    background-color: $placeholder-bg;
}

$trans-displacement: -40px;
$tooltip-width: 180px;

.tooltip {
    position: absolute;
    width: $tooltip-width;
    @extend %bg-transition;
    background-color: rgba(100, 100, 100, 0.4);
    top: 100%;
    left: 100%;
    padding: 0.5em 0;
    margin-left: -$tooltip-width;
    text-align: center;
    color: #fff;
    z-index: 1;
}


.triggersTooltip {
    @extend %bg-transition;
    background-color: rgba(255,255,255,0.2);
}

.triggersTooltip:hover {
    background-color: rgba(255,255,255,0.6);
}

.example-leave {
    margin-top: 0;
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0;
    margin-top: $trans-displacement;
}

.example-enter {
    opacity: 0;
    margin-bottom: $trans-displacement;
}

.example-enter.example-enter-active {
    margin-bottom: 0;
    opacity: 1;
}

.AdjectivesExercise {
    font-size: 16px;
    position: relative;
    z-index: 1;
    width: 100%;
    vertical-align: middle;
    height: $component-height;

    ul {
        display: inline-block;
        width: 100%;
        position: relative;
    }

    .AdjectivesExerciseItem {
        transition: $transition;
        position: relative;
        padding: 0 28px;


        .input-wrapper {
            position: relative;
            line-height: $lh;
        }

        &.isCorrect, &.isIncorrect, &.isFocused {
            .placeholder {
                @extend %placeholder;
            }
        }

        &.isFocused {
            background-color: $row-focused-bg;

            .detail-link {
                color: #888;

                &:hover {
                    color: inherit;
                }
            }
        }

        &.isCorrect {
            background-color: $row-correct-bg;
        }


        &.isIncorrect {
            background-color: $row-incorrect-bg;
        }

    }

    input {
        background-color: transparent;
        box-shadow: none;
        border: none;
        outline: none;
        padding: 0;
        position: absolute;
        z-index: 2;
        line-height: 2.5em;

        &:focus + .placeholder {
            @extend %placeholder;
        }
    }

    .placeholder {
        display: inline-block;
        z-index: 1;
    }

    .detail-link {
        color: transparent;
        font-size: 1.6em;
        float: right;
    }

}

.AdjectivesExerciseItem {
    cursor: pointer;

    .text, .actions {
        display: inline-block;
        vertical-align: middle;
    }

    .text {
        line-height: $lh;
        width: 80%;
        letter-spacing: 0.05em;

        > * {
            display: inline-block;
            line-height: 1.5em;
        }
    }

    .actions {
        width: 20%;
    }
}
