@import 'colors';

$lh: 2.5;

%placeholder {
    background-color: rgba(255, 255, 255, 0.2);
}

.example-leave {
    margin-top: 0;
    opacity: 1;
}

%transition {
    transition: 300ms linear;
}

.example-leave.example-leave-active {
    opacity: 0;
    margin-top: -40px;
    @extend %transition;
}

.example-enter {
    opacity: 0;
    margin-bottom: -40px;
}

.example-enter.example-enter-active {
    margin-bottom: 0;
    opacity: 1;
    @extend %transition;
}

.AdjectivesExercise {
    font-size: 16px;
    position: relative;
    z-index: 1;
    width: 100%;
    vertical-align: middle;
    height: 352px;

    ul {
        display: inline-block;
        width: 100%;
        position: relative;
    }

    .AdjectivesExerciseItem {
        position: relative;
    }

    .AdjectivesExerciseItem::after {
        content: 'a';
        color: transparent;
        right: -20px;
        position: absolute;
        left: -20px;
        background-color: transparent;
        z-index: -2;
        line-height: $lh;
    }

    .AdjectivesExerciseItem.isFocused {
        .placeholder {
            @extend %placeholder;
        }

        &::after{
            background-color: rgba(0,0,0,0.15);
        }

        .detail-link {
            color: #888;

            &:hover {
                color: inherit;
            }
        }
    }

    input {
        background-color: transparent;
        box-shadow: none;
        border: none;
        outline: none;
        padding: 0;

        &:focus + .placeholder {
            @extend %placeholder;
        }
    }

    .input-wrapper {
        position: relative;
        color: $blue;

        &.correct {
            color: $green;
        }

        &.incorrect {
            color: $red;
        }
    }

    .placeholder {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .detail-link {
        color: transparent;
        font-size: 1.75em;
        float: right;
    }

}

.AdjectivesExerciseItem {
    cursor: pointer;

    .text, .actions {
        display: inline-block;
        vertical-align: middle;
    }

    .text {
        line-height: $lh;
        width: 80%;

        > * {
            display: inline-block;
        }
    }

    .actions {
        width: 20%;
    }
}
