@import 'colors';

$lh: 2.5;

%placeholder {
    background-color: rgba(255, 255, 255, 0.2);
}

.AdjectivesExercise {
    font-size: 16px;
    position: relative;
    z-index: 1;
    width: 100%;
    vertical-align: middle;

    tr {
        position: relative;
    }

    tr::after {
        content: 'a';
        color: transparent;
        right: -20px;
        position: absolute;
        left: -20px;
        background-color: transparent;
        z-index: -2;
        line-height: $lh;
    }

    tr:hover {
        .placeholder {
            @extend %placeholder;
        }

        &::after{
            background-color: rgba(0,0,0,0.15);
        }

        .detail-link {
            color: #888;

            &:hover {
                color: inherit;
            }
        }
    }

    input {
        background-color: transparent;
        box-shadow: none;
        border: none;
        outline: none;
        padding: 0;

        &:focus + .placeholder {
            @extend %placeholder;
        }
    }

    .input-wrapper {
        position: relative;
        color: $blue;

        &.correct {
            color: $green;
        }

        &.incorrect {
            color: $red;
        }
    }

    .placeholder {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .detail-link {
        color: transparent;
        font-size: 1.75em;
        float: right;
    }

}

.AdjectivesExerciseItem {
    cursor: pointer;

    .text {
        line-height: $lh;
        padding-right: 4em;

        > * {
            display: inline-block;
        }
    }
}
