@import './react-dropdown';

.CreationForm {

    font-size: 14px;
    padding: 10px 0;

    td {
        vertical-align: middle;
    }

    .name {
        padding-right: 1rem;
    }

    .KasusDropdown {
        @include Dropdown();
    }
}