@import 'colors';
@import 'vars';

$Tooltip-width: 180px;
$Tooltip-offset: 22px;
$Tooltip-arrow-height: 10px;

.Tooltip {
    position: absolute;
    width: $Tooltip-width;
    transition: 100ms ease;
    background-color: rgba(100, 100, 100, 0.9);
    bottom: 100%;
    right: -20px;
    margin-bottom: $Tooltip-offset;
    padding: 0.6em 0;
    margin-left: -$Tooltip-width;
    text-align: center;
    color: #fff;
    z-index: 3;
    border-radius: 3px;
    font-size: 12px;
    opacity: 1;
}

.Tooltip::after {
    content: ' ';
    position: absolute;
    bottom: -$Tooltip-arrow-height;
    right: 35px;
    border-width: $Tooltip-arrow-height 10px 0 10px;
    border-style: solid;
    border-color: transparent;
    border-top-color: rgba(100, 100, 100, 0.9)

}