@import './react-dropdown';

.CreationForm {
    font-size: 14px;

    .dropdown {
        display: inline-block;
        float: left;
        width: 100%;
        margin-bottom: 40px;

        &:nth-of-type(even) {
            float: right;
        }
    }

    .name {
        padding-bottom: 4px;
    }

    .ReactDropdown {
        @include Dropdown();
    }

}

.row {
    width: 100%;
}

.col1 {
    display: inline-block;
}

$col-width: 40px;

.col-header {
    display: inline-block;
    width: $col-width * 4;
}

.col1-header {
    width: $col-width * 4;
}

.col2-header {
    display: inline-block;
    width: 25%;
    transform: rotate(-45deg);
}

.row-header {
    display: inline-block;
    width: $col-width * 3;
}

.col2 {
    display: inline-block;
    width: $col-width;
}